@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 3, 6;
}

body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
}

/* Optional: Add a smooth scroll if you add more content later */
html {
  scroll-behavior: smooth;
}
